<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='ComputerLock' Id='*' UpgradeCode='488f7dfe-490f-4be2-bdd2-255b201fb64e'
    Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='Daniel'>
    
    <Package Id='*' Keywords='Installer' Description="Daniel's ComputerLock 1.0 Installer"
      Comments='ComputerLock is mine bwahahaha' Manufacturer='Daniel'
      InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' Platform="x64"/>

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Daniel's ComputerLock 1.0 Installation [1]" />

    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='Daniel' Name='Daniel'>
          <Directory Id='INSTALLDIR' Name='ComputerLock 1.0'>

            <Component Id='MainExecutable' Guid='9ad54690-afbe-4827-81ee-c713e1cb5648' Win64='yes'>
              <File Id='ComputerLockEXE' Name='ComputerLock.exe' DiskId='1' Source='ComputerLock.exe' KeyPath='yes'>
                <Shortcut Id="startmenuComputerLock" Directory="ProgramMenuDir" Name="ComputerLock 1.0" WorkingDirectory='INSTALLDIR' Icon="ComputerLock.exe" IconIndex="0" Advertise="yes" />
              </File>
            </Component>

            <Component Id='InjectionLibrary' Guid='072323ae-edeb-4640-84de-9e979751f622' Win64='yes'>
              <File Id='InjectedDLL' Name='Trampoline.dll' DiskId='1' Source='Trampoline.dll' KeyPath='yes' />
            </Component>

            <Component Id='AdminSettings' Guid='c8550859-65e2-4a8f-afe9-5e44a894a765' Win64='yes'>
              <File Id='AdminSettingFile' Name='admin' DiskId='1' Source='admin' KeyPath='yes' />
            </Component>

            <Component Id='FileExtensionSettings' Guid='7958d378-5116-4148-b705-ac4e2b6b4d01' Win64='yes'>
              <File Id='FileExtensionSettingFile' Name='file_extensions' DiskId='1' Source='file_extensions' KeyPath='yes' />
            </Component>

            <Component Id='FilePathSettings' Guid='26cd9b7d-9719-4074-93ed-329065c26dc0' Win64='yes'>
              <File Id='FilePathSettingFile' Name='file_paths' DiskId='1' Source='file_paths' KeyPath='yes' />
            </Component>

            <Component Id='ProcessSettings' Guid='f7ef1fa2-1557-42b4-93fb-692b62b8736d' Win64='yes'>
              <File Id='ProcessSettingFile' Name='processes' DiskId='1' Source='processes' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="ComputerLock 1.0">
          <Component Id="ProgramMenuDir" Guid="45fe27b2-7725-4ec1-ba61-c6b4762aead5">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='Complete' Display='expand' Level='1' Title='Complete Package'  Description='The complete package.' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='InjectionLibrary' />
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='AdminSettings'/>
        <ComponentRef Id='FileExtensionSettings'/>
        <ComponentRef Id='FilePathSettings'/>
        <ComponentRef Id='ProcessSettings'/>
      </Feature>
    </Feature>

    <Icon Id="ComputerLock.exe" SourceFile="ComputerLock.exe" />

  </Product>
</Wix>
